# Please place your .env file in the internal_stats folder
BUCKET_PROVIDER=aliyun # or tencent
BUCKET_NAME=your-bucket-name
BUCKET_REGION=cn-shanghai
BUCKET_ACCESS_KEY_ID=your-id-here
BUCKET_ACCESS_KEY_SECRET=your-secret-here
# For Tencent COS (if needed; __main__.py needs to be modified to support this)
# BUCKET_TOKEN=your_cos_token_if_any